{% extends '::base.html.twig' %}
{% block title %} Liste de pôles AQUALEHA {% endblock %}

{% block body %}
<legend> Liste de Pôles</legend>
    <table>
        <thead>
        <tr>
            <th>Pôles</th>
        </tr></thead>
        <tbody>
    {% for Pole in ListePole  %}
        <tr>
            <td><a href="{{ path('Staffstaff_service', {id: Pole.id}) }}">{{ Pole.nom }}</a></td>
        </tr>
        <tr>
        <td> {{ Pole.description }}</td>
        </tr>
        <tr>
        <td> {{ Pole.Responsable }}</td>
        </tr>
        <tr>
        <td> {{ Pole.Service }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>


{% endblock %}