{% extends '::base.html.twig' %}
{% block title %} Liste de services AQUALEHA {% endblock %}

{% block body %}
    <legend> Liste des Services</legend>
    <table>
    <thead>
    <tr>
        <th>Services</th>
    </tr></thead>
    <tbody>
    {% for Services in ListeServices  %}
        <tr>
            <td> <a href="{{ path('Staffstaff_service_membre', {id: Services.id}) }}">{{ Services.name }}</a></td>
        </tr>
        <tr>
            <td> {{ Services.description }}</td>
        </tr>
        <tr>
            <td> {{ Services.actif }}</td>
        </tr>
        <tr>
            <td> {{ Services.Responsable }}</td>
        </tr>
        <tr>
            <td> {{ Services.Pole }}</td>
        </tr>
        <tr>
            <td> {{ Services.personnes }}</td>
        </tr>
        <tr>
            <td> {{ Services.pays }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}