{% extends '::base.html.twig' %}
{% block body %}
    <div class="jumbotron col-md-8 col-md-offset-1">
<h2> Suppression</h2>
<p> Etes vous sûr de vouloir supprimer "{{ personne.username }}"</p>
    <form action="{{ path('Trombinoscopestaff_personne_delete',{'id':personne.id }) }}" method="post">
        <a href="{{ path('Trombinoscopestaff_personne', {'id': personne.id}) }}" class="btn btn-default"> Retour</a>
        <input type="submit" value="supprimer" class="btn btn-danger"/>
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}