{% extends '::base.html.twig' %}
{% block title %} Liste de services AQUALEHA {% endblock %}

{% block body %}
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{{ path('Trombinoscopestaff_homepage') }}"><span aria-hidden="true">&larr;</span> Menu</li></ul></nav></a>
    {% if pole != null %}
        <nav>
            <ul class="pager">
                <li class="previous"><a href="{{ path('Trombinoscopestaff_pole') }}">{{ pole.nom }}<span aria-hidden="true">&larr;</span></li></ul></nav></a>
    {% endif %}
    <div class="jumbotron col-md-8 col-md-offset-1">
     <legend> Liste des services</legend><br>


    <div class="panel panel-default">

        <div class="panel-heading"><b> Services</b></div>


        <table class="table">
    <tbody>
    {% for Services in ListeServices  %}
        <tr>
            <td> <a href="{{ path('Trombinoscopestaff_service_membre', {'slug':Services.slug}) }}">{{ Services.name }}</a></td>
        </tr>
        <tr>
              <td><b> Description:</b> {{ Services.description }}</td>
        </tr>
        <tr>
           <td> <b> Pays:</b> {{ Services.pays }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div></div>
{% endblock %}