{% extends '::base.html.twig' %}
{% block title %} Liste de staff AQUALEHA {% endblock %}

{% block body %}
    <legend> Liste de Personnes</legend>
    <table>
        <thead>
        <tr>
            <th>Personnes</th>
            </tr></thead>
        <tbody>
        {% for Personnes in ListePersonnes  %}
            <tr>
                <td><a href="{{ path('Staffstaff_service') }}">{{ Personnes.name }} </a></td>
            </tr>
            <tr>
                <td> {{ Personnes.prenom }}</td>
            </tr>
            <tr>
                <td> {{ Personnes.username }}</td>
            </tr>
            <tr>
                <td>{{ Personnes.photo }}</td>
            </tr>
            <tr>
                <td>{{ Personnes.observation }}</td>
            </tr>
            <tr>
                <td>{{ Personnes.DateArrivee |date('d/m/Y') }}</td>
            </tr>
            <tr>
                <td>{{ Personnes.Hierarchie.name }}</td>
            </tr>
            <tr>
                <td>{{ Personnes.ServicePrincipal.name }}</td>
            </tr>
            <tr>
                <td>{{ Personnes.DateFinContrat |date('d/m/Y') }}</td>
            </tr>
            <tr>
                <td>{{ Personnes.site.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
